.tableTreeContainer {
    position: absolute;
    background: #fff;
    width: 220px;
    top: 60px;
    bottom: 0;
    overflow: auto;
}

.subtreeTitle {
    position: fixed;
    top: 18px;
    font-size: 20px;
    color: #666;
    margin-left: 15px;
}

.rmn.rootNav {
    position: absolute;
    background: #fff;
    top: 5px;
    bottom: 0;
    width: 260px;
    border-radius: 3px;
}

ul.rootNavUl {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    margin-top: 20px;
}

span.rmnlioperate i.fa.fa-plus {
    /* margin-right: 10px; */
}

span.rmnlioperate i {
    cursor: pointer;
    /* opacity: 0; */
    color: #666;
    font-size: 12px;
    font-weight: 100;
    margin-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

span.rmnlioperate i.fa.fa-pencil:hover, span.rmnlioperate i.fa.fa-save:hover, span.rmnlioperate i.fa.fa-plus:hover, span.rmnlioperate i.fa.fa-remove:hover, span.rmnlioperate i.fa.fa-minus:hover {
    color: #d66061;
}

.rootNavUl i.folder {
    margin-right: 10px;
    width: 14px;
}

li.rmnli {
    font-size: 13px;
    cursor: pointer;
    user-select: none;
}

i.fa.fa-remove {
    position: relative;
    top: -1px;
    margin-right: 2px;
}

.Center-Container.is-Table {
    display: table;
    width: 100%;
    height: 100%;
}

.is-Table .Table-Cell {
    display: table-cell;
    vertical-align: middle;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.is-Table .Center-Block {
    margin: 0 auto;
}

.Table-Cell span.foldName, .Table-Cell i.folder, .Table-Cell .rmnlioperate, span.rmnliarrow {
    vertical-align: middle;
    display: inline-block;
}

.Table-Cell span.foldName {
    width: 98px;
    word-break: break-all;
}

.Table-Cell i.folder {
    width: 14px;
    color: #f8bb86;
}

.Table-Cell .rmnlioperate {
    /* width: 36px; */
    background: #ddd;
    border: solid 1px #ddd;
    padding-left: 2px;
    border-radius: 5px;
    opacity: 0;
    z-index: -1;
    font-size: 0;
}

.Table-Cell:hover .rmnlioperate {
    opacity: 1;
    z-index: 1;
}

span.rmnliarrow {
    /* width: 20px; */
    height: 2px;
    position: relative;
    margin-left: 10px;
}

span.arrowleft, span.arrowRight {
    position: absolute;
    width: 8px;
    height: 1px;
    background: #bbb;
}

span.arrowleft {
    left: 0px;
}

span.arrowRight {
    left: 6px;
}

li.rmnli span.arrowleft {
    transform: rotate(145deg);
    -ms-transform: rotate(145deg);
    /* IE 9 */
    -moz-transform: rotate(145deg);
    /* Firefox */
    -webkit-transform: rotate(145deg);
    /* Safari ÃƒÂ¥Ã¢â‚¬â„¢Ã…â€™ Chrome */
    -o-transform: rotate(145deg);
    /* Opera */
}

li.rmnli span.arrowRight {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -moz-transform: rotate(45deg);
    /* Firefox */
    -webkit-transform: rotate(45deg);
    /* Safari ÃƒÂ¥Ã¢â‚¬â„¢Ã…â€™ Chrome */
    -o-transform: rotate(45deg);
    /* Opera */
}

div.Table-Cell.rmnli-active span.arrowleft {
    right: 16px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -moz-transform: rotate(45deg);
    /* Firefox */
    -webkit-transform: rotate(45deg);
    /* Safari ÃƒÂ¥Ã¢â‚¬â„¢Ã…â€™ Chrome */
    -o-transform: rotate(45deg);
    /* Opera */
}

div.Table-Cell.rmnli-active span.arrowRight {
    right: 12px;
    transform: rotate(145deg);
    -ms-transform: rotate(145deg);
    /* IE 9 */
    -moz-transform: rotate(145deg);
    /* Firefox */
    -webkit-transform: rotate(145deg);
    /* Safari ÃƒÂ¥Ã¢â‚¬â„¢Ã…â€™ Chrome */
    -o-transform: rotate(145deg);
    /* Opera */
}

ul.subNavUl {
    list-style: none;
    padding-left: 15px;
    overflow: hidden;
}

.Center-Container.is-Table:hover .Table-Cell, .treeLiSelect .Table-Cell {
    background: #f8f8f8;
}

.subNavHide {
    height: 0!important;
}

.FilterTableContianer {
    margin-left: 220px;
}

.filterEditOutContainer.filterEditOutContainerShow {
    position: fixed;
    left: 0;
    background: rgba(0, 0, 0, .3);
    right: 0;
    top: 60px;
    bottom: 0;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.filterEditContainer {
    width: 1000px;
    margin: 0 auto;
    background: #fff;
}

.filterEditOutContainer {
    position: fixed;
    left: 0;
    background: rgba(0, 0, 0, .3);
    right: 0;
    top: 60px;
    bottom: 0;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.filterEditContainer {
    width: 1000px;
    margin: 0 auto;
    background: #fff;
    padding-top: 36px;
    border-radius: 5px;
}

.editFilterDiv {
    /*background: #ddd;*/
    /* height: 34px; */
    width: 47%;
    float: left;
    margin-bottom: 5px;
}

.editContentContainer {
    width: 99%;
    margin: 0 auto;
    overflow: auto;
    margin-bottom: 21px;
}

.editFilterDiv.editLeftFilter {
    /* margin-right: 5%; */
    margin-left: 0.5%;
    text-align: right;
    padding-right: 12px;
    color: #444;
    font-size: 14px;
    margin-top: 10px;
    /* margin-bottom: 6px; */
}

.saveButtonContainer {
    text-align: center;
    padding: 31px;
}

input#filternameinput, input#pathnamespan {
    width: 283px;
    height: 30px;
    float: left;
    border: none;
    border-bottom: solid 1px #ddd;
    outline: none!important;
}

input#filternameinput:focus, input.showNumber:focus, input.normalinput:focus {
    border-bottom: solid 1px #1890ff;
}

.pathContainer {
    /* width: 271px; */
    float: right;
    margin-left: 20px;
    height: 30px;
    cursor: pointer;
}

.editNamePath {
    overflow: hidden;
    width: 768px;
    margin: 20px auto;
    /* text-align: center; */
}

span#pathnamespan {
    display: inline-block;
    width: 290px;
    height: 28px;
    border-bottom: solid 1px #ddd;
    color: #444;
    font-size: 14px;
    color: #666;
    user-select: none;
    cursor: pointer;
    line-height: 29px;
}

.pathContainer .fa-caret-down {
    color: #aaa;
    position: absolute;
    margin-top: -22px;
    margin-left: 262px;
}

.pathshowContainer {
    position: absolute;
    margin-left: 566px;
    margin-top: -22px;
    width: 290px;
    background: #fff;
    border: solid 1px #ddd;
    opacity: 0;
    z-index: -1;
    transform: translate3d(0, 20px, 0);
    -webkit-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
}

.pathshowContainerShow {
    opacity: 1;
    z-index: 5;
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
}

ul.pathShowUl {
    list-style: none;
    padding: 0;
    padding-left: 5px;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    max-height: 200px;
    overflow-y: auto;
}

ul.pathShowUl li {
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    color: #444;
}

ul.pathShowUl span.selectpathnamespan:hover, ul.subpathUl span.selectpathnamespan:hover, span.selectpathnamespanSelect {
    background: #f8f8f8;
}

.confirmPath {
    text-align: center;
    border-top: solid 1px #ddd;
    padding: 3px 0;
    cursor: pointer;
    color: #444;
}

.confirmPath:hover {
    background: #f8f8f8;
}

span.selectpathnamespan {
    display: inline-block;
}

ul.subpathUl {
    list-style: none;
    padding-left: 30px;
}

span.selectpathnamespan {
    display: inline-block;
    width: 100%;
}

span.selectpathnamespan i.folder {
    width: 14px;
    color: #f8bb86;
    margin-right: 10px;
}

span.closeFilterContainer {
    position: absolute;
    margin-left: 973px;
    width: 20px;
    height: 21px;
    cursor: pointer;
    text-align: center;
    color: #d66061;
    /* font-weight: bold; */
    margin-top: 5px;
    font-size: 21px;
}

span.closeFilterContainer {
    position: absolute;
    margin-left: 959px;
    width: 20px;
    height: 21px;
    cursor: pointer;
    text-align: center;
    color: #d66061;
    /* font-weight: bold; */
    margin-top: -24px;
    font-size: 21px;
}

.filterEditOutContainer.filterEditOutContainerShow {
    z-index: 1;
    opacity: 1;
}

.filterEditOutContainer {
    z-index: -1;
    opacity: 0;
}

.editFilterInfo {
    margin-right: 10px;
    font-size: 14px;
    color: #444;
    width: 100px;
    display: inline-block;
}

.editFilterDiv.editRightFilter {
    padding-left: 5px;
    padding-top: 10px;
}

div.showtype,
div.mustS,
div.morenshow {
    padding-top: 2px;
}

textarea.datatable {
    width: 283px;
    height: 50px;
    resize: none;
    /* outline: none; */
    /* border: none; */
    border: solid 1px #ddd;
    color: #444;
    /* margin-bottom: -26px; */
    /* margin-left: 11px; */
    margin-top: -9px;
}

.datatableInfo {
    position: relative;
    top: -11px;
    width: 49px;
    margin-right: -2px;
    left: -5px;
}

input.showNumber, input.normalinput {
    border: none;
    border-bottom: solid 1px #ddd;
    /* height: 49px; */
    outline: none!important;
    /* margin-top: 9px; */
    /* width: 283px; */
}

span.editFilterInfo.showNumberInfo {
    position: relative;
    top: 2px;
    left: 25px;
}

.editFilterDiv select {
    width: 283px;
    box-shadow: none;
}

span.editFilterInfo.parentFilterInfo {
    position: relative;
    top: 18px;
}

select.tableselect.parentFilterSelect {
    position: relative;
    top: 15px;
}

span.showtypeInfo {
    font-size: 14px;
    color: #444;
    position: relative;
    top: -1px;
}

.editFilterDiv.gouxuan {
    /*display: none;*/
    margin-top: -18px;
    margin-bottom: 24px;
}

.margintopse {
    position: relative;
    top: 24px;
}

.defaultshowinfo {
    margin-right: 53px!important;
}

span.editFilterInfo.minselectinfo, input.minselect.normalinput.minselectinput,
span.editFilterInfo.maxselectinfo, input.maxselect.normalinput.maxselectinput {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
}
 

span.namepathinfo {
    font-size: 14px;
    color: #444;
    float: left;
    position: relative;
    top: 5px;
    margin-right: 20px;
}

input#pathnamespan {
    width: 283px;
}

.editFilterDiv.editLeftFilter.editFilterDatasource {
    margin-left: 23px;
    margin-right: 0px;
    /* padding-right: 7px; */
}

.editFilterDiv.editRightFilter.marginTopFilter.editFilterTable {
    padding-top: 0;
    margin-top: 10px;
    padding-left: 47px;
}

span.editFilterInfo.databaseinfo {
    margin-right: 18px;
    /* padding-left: 8px; */
}

.mustSelContainer {
    margin-left: 110px;
}

.showtypeContainer {
    margin-left: 47px;
    margin-top: 11px;
}

.editFilterDiv.editLeftFilter.editFilterMax {
    margin-right: 0;
    padding-right: 0;
}

input.maxselect.normalinput.maxselectinput {
    width: 283px;
    /* margin-right: -3px; */
}

span.editFilterInfo.maxselectinfo {
    margin-right: 5px;
    top: -1px;
    left: -11px;
}

input.minselect.normalinput.minselectinput {
    width: 283px;
}

.minContainer {
    margin-left: 16px;
    margin-top: 6px;
}

span.datasourceEdit {}
.editFilterDiv.editLeftFilter.editFilterDefaultShow {
    margin-right: 0;
    /* width: 40%; */
    /* float: left; */
}

.maxContainer {
    /* margin-top: -8px; */
}

span.editFilterInfo.minselectinfo {
    top: -7px;
}
.defaultshowContainer {
    float: left;
    margin-left: 61px;
    margin-top: 30px;
}
ul.parentUl {
    list-style: none;
    padding: 0;
    margin: 0;
}

.parentListContainer {
    position: absolute;
}

span.parentFilterSpanContainer {
    position: relative;
}
.editFilterAllContainer {
    width: 900px;
    margin: 0 auto;
    overflow: auto;
}

.editdiv {
    /* float: left; */
    width: 49%;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}
 

.info {
    width: 120px;
    float: left;
    text-align: right;
    padding-right: 20px;
    line-height: 30px;
    font-size: 14px;
    color: #444;
}

.EditContainer {
    float: left;
}
 
 div.editdiv select{
    height:30px;
    width:283px;
    box-shadow: none;
    text-align: left;
    padding-left: 0;
 }
 .editdiv.highheight {
    height: 50px;
    line-height: 50px;
}
 .editdiv.highheight .info{
    line-height: 50px;
}
.EditContainer.radioContainer {
    line-height: 29px;
}
input.showNumber,
input.relativecolumn{
    width:283px;
}
span.parentFilterName {
    display: block;
    width: 283px;
    border-bottom: solid 1px #ddd;
    /* height: 29px; */
    cursor: pointer;
    /* line-height: 29px; */
    font-size: 14px;
    color: #444;
    /* border: solid 1px #ddd; */
    padding-left: 5px;
    /* padding-top: 3px; */
    /* padding-bottom: 3px; */
    /* margin-bottom: 3px; */
    min-height: 27px;
}
 

.parentFilterListContainer {
    position: absolute;
    width: 283px;
    z-index: -1;
    opacity: 0;
}

input.parentFilterInput {
    width: 283px;
    border: solid 1px #ddd;
    height: 26px;
    padding-left: 5px;
}

ul.parentFilterListUl {
    margin: 0;
    padding: 0;
    max-height: 150px;
    border: solid 1px #ddd;
    list-style: none;
    color: #444;
    background: #fff;
    border-bottom: none;
    border-top: none;
    overflow: auto;
}
ul.parentFilterListUl li {
    cursor: pointer;
    background: #fff;
    border-bottom: solid 1px #ddd;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
ul.parentFilterListUl li:hover,
ul.parentFilterListUl li.selected{
    background:#eee;
}
.parentFilterListContainerShow {
    z-index: 1;
    opacity: 1;
}
input.relativecolumn.normalinput {
    display: block;
    color: #444;
    padding: 0;
}
input#filternameinput {
    color: #444;
    height: 29px;
    padding-top: 4px;
}
input.editfiltertextinput, 
span.editfiltertext,
.editfilterradio {
    font-size: 14px!important;
    line-height: 30px!important;
    color: #444;
    padding-left: 4px;
}

input.editfiltertextinput, 
span.editfiltertext,
.editfilterradio {
    font-size: 14px!important;
    line-height: 30px!important;
    color: #444;
    padding-left: 4px;
}
